/*ikon megjelenitese a fulon*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap'); 

/* User rendezveny bejelentes */

*{
    list-style: none; /*lista elejen nincs jel*/
    font-family: 'montserrat';  
}

/*hatterszin*/
body{
    background-image: linear-gradient(to left bottom, #262626, #3a3a41, #4d505f, #5e677e, #6d809f, #708bae,
     #7396be, #74a1cd, #6b9fce, #629ecf, #579ccf, #4a9bd0);
    background-attachment: fixed;
    margin: 0px;
    position:static;
    overflow-y: scroll;
    overflow-x: scroll;
}


/*------------------------------NAVBAR---------------------------------*/

/*bal oldali navbar resz*/
.wrapper1 {
 position:absolute;
 top: 0px;
 left: 0px;
 display: block;
}

/*Navbar feletti helix logo*/
.wrapper1 img{
    position:relative;
    top:0px;
    left:0px;
    width:210px; 
    height: auto;   
}

/*navbar*/
.wrapper1 .navbar{
    position:relative;
    margin-right: 0px;
    margin-top:-4px ;
    width: 210px;
    height:150vh;
    background: #ffffff;
    padding-top: 20px;
}

/*Linkek (elemek) a navbarban */
.wrapper1 .navbar a{
    color: rgb(49, 66, 103);
    display: block;
    text-decoration: none;  
    padding-left:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

/*Navbar elemek szine ha eger van felette*/
.wrapper1 .navbar a:hover{
   background: #eff0f0; 
}

/*Navbar elem szovegszine ha eger van felette*/
.wrapper1 .navbar ul li:hover a{
    color: rgb(49, 66, 103);
}

/*---------------------------------USER-ICON--------------------------------------*/

/*Navbartol jobbra levo reszek*/
.wrapper2{
    width:100vw-210px;
    margin-left: 210px;
    position:static;
}

/*user profil ikon jobb felso sarokban*/
.wrapper2 .userIcon img{
    position:absolute;
    top: 10px;
    right: 120px;
    width: 20px;
    height: auto;
    border-radius: 10px;
}

/*Usernev jobb felso sarokban*/
.wrapper2 .userName label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

/*----------------------------------CONTENT---------------------------------------*/

/*Content resz*/
.wrapper2 .content{
    display: block;
    position: relative;
    padding-left: 20px;
}

/*Headline szöveg*/
.wrapper2 .content h1{
    position: relative;
    margin-left: -20px;
    margin-top: 30px;
    text-align:center;
    font-size: 32px;
    color: white;
    font-family:'Montserrat';
    font-weight:normal;
}

/*---------------------------Táblázat formázása-------------------------------*/


.wrapper2 .content table{
    border-collapse: collapse;
    min-width: 700px;
    width: 1000px;
    color: white;
}

.wrapper2 .content th{
    text-align: left;
    font-size: medium;
    color: white ;
    width: 200px;
    background-color:rgb(151, 151, 151);
    padding: 10px 15px;
   
 }

 .wrapper2 .content tr{
    text-align: left;
    font-size: medium;
    border-bottom: 1px solid rgb(151, 151, 151);
 }

 .wrapper2 tbody tr:nth-of-type(even) {
    background-color: #a1b0bb;
}

.wrapper2 tbody tr:nth-of-type(n+1) {
    background-color: #ffffff;
}

 .wrapper2 .content td{
    text-align: left;
    font-size: small;
    color: rgb(72, 80, 99);
    padding: 10px 15px;
 }


.wrapper2 .content #modify{
 margin-left: 20px;
 width: 20px;
 height: 20px;
 box-align: center;
 background-image: url("C:\Users\User\Desktop\7.félév\Projektmunka 2\Projekt 2\pics\modify.png");
 background-size: cover;
 border-radius: 4px;
 border-color:rgb(174, 174, 174);

}

.wrapper2 .content #delete{
    width: 20px;
    height: 20px;
    box-align: center;
    background-image: url("C:\Users\User\Desktop\7.félév\Projektmunka 2\Projekt 2\pics\trash.png");
    margin-left: 20px;
    border-radius: 4px;
    border-color:rgb(174, 174, 174);
}


/*gomb formazasa*/
.wrapper2 .bejelBut button{
    position:relative;
    left:245px;
    top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'montserrat';
    border:rgb(151, 151, 151);
    background-color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}


.wrapper2 .bejelBut:hover button{
    background: #e3e3e3; 

}


