/*ikon megjelenitese a fulon*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap'); 

/* User rendezveny bejelentes */

*{
    list-style: none; /*lista elejen nincs jel*/
    font-family: 'montserrat';  
}

/*hatterszin*/
body{
    background-image: linear-gradient(to left bottom, #262626, #3a3a41, #4d505f, #5e677e, #6d809f, #708bae,
     #7396be, #74a1cd, #6b9fce, #629ecf, #579ccf, #4a9bd0);
    background-attachment: fixed;
    margin: 0px;
    position:static;
    overflow-y: scroll;
    overflow-x: scroll;
}


/*------------------------------NAVBAR---------------------------------*/

/*bal oldali navbar resz*/
.wrapper1 {
 position:absolute;
 top: 0px;
 left: 0px;
 display: block;
}

/*Navbar feletti helix logo*/
.wrapper1 img{
    position:relative;
    top:0px;
    left:0px;
    width:210px; 
    height: auto;   
}

/*navbar*/
.wrapper1 .navbar{
    position:relative;
    margin-right: 0px;
    margin-top:-4px ;
    width: 210px;
    height:150vh;
    background: #ffffff;
    padding-top: 20px;
}

/*Linkek (elemek) a navbarban */
.wrapper1 .navbar a{
    color: rgb(49, 66, 103);
    display: block;
    text-decoration: none;  
    padding-left:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

/*Navbar elemek szine ha eger van felette*/
.wrapper1 .navbar a:hover{
   background: #eff0f0; 
}

/*Navbar elem szovegszine ha eger van felette*/
.wrapper1 .navbar ul li:hover a{
    color: rgb(49, 66, 103);
}

/*---------------------------------USER-ICON--------------------------------------*/

/*Navbartol jobbra levo reszek*/
.wrapper2{
    width:100vw-210px;
    margin-left: 210px;
    position:static;
}

/*user profil ikon jobb felso sarokban*/
.wrapper2 .userIcon img{
    position:absolute;
    top: 10px;
    right: 120px;
    width: 20px;
    height: auto;
    border-radius: 10px;
}

/*Usernev jobb felso sarokban*/
.wrapper2 .userName #username{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

/*Logout jobb felso sarokban*/
.wrapper2 .userName #logout{
    position: absolute;
    top: 35px;
    right: 10px;
    color: white;
}


/*----------------------------------CONTENT---------------------------------------*/

/*Content resz*/
.wrapper2 .content{
    display: block;
    position: relative;
    padding-left: 20px;
}

/*Headline szöveg*/
.wrapper2 .content h1{
    position: relative;
    margin-left: -20px;
    margin-top: 30px;
    text-align:center;
    font-size: 32px;
    color: white;
    font-family:'Montserrat';
    font-weight:normal;
}

.wrapper2 .content p{
    display: block;
    position: relative;
    padding: 5px;
    font-size: medium;
    padding-bottom: 15px;
}

.wrapper2 .content label{
    display: block;
    position: relative;
    font-size: medium;
    padding-bottom: 2px;
    margin-left: 20px;
}





