@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap'); 

/* User rendezveny bejelentes */

*{
    list-style: none; /*lista elejen nincs jel*/
    font-family: 'montserrat';  
}

/*hatterszin*/
body{
    background-image: linear-gradient(to left bottom, #262626, #3a3a41, #4d505f, #5e677e, #6d809f, #708bae,
     #7396be, #74a1cd, #6b9fce, #629ecf, #579ccf, #4a9bd0);
    background-attachment: fixed;
    margin: 0px;
    position:static;
    overflow-y: scroll;
    overflow-x: scroll;
}


/*------------------------------NAVBAR---------------------------------*/

/*bal oldali navbar resz*/
.wrapper {
 position:absolute;
 top: 0px;
 left: 0px;
 display: block;
}

/*Navbar feletti helix logo*/
.wrapper img{
    position:relative;
    top:0px;
    left:0px;
    width:210px; 
    height: auto;   
}

/*navbar*/
.wrapper .navbar{
    position:relative;
    margin-right: 0px;
    margin-top:-4px ;
    width: 210px;
    height:150vh;
    background: #ffffff;
    padding-top: 20px;
}

/*Linkek (elemek) a navbarban */
.wrapper .navbar a{
    color: rgb(49, 66, 103);
    display: block;
    text-decoration: none;  
    padding-left:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

/*Navbar elemek szine ha eger van felette*/
.wrapper .navbar a:hover{
   background: #eff0f0; 
}

/*Navbar elem szovegszine ha eger van felette*/
.wrapper .navbar ul li:hover a{
    color: rgb(49, 66, 103);
}

/*---------------------------------USER-ICON--------------------------------------*/

/*Navbartol jobbra levo reszek*/
.wrapper2{
    width:100vw-210px;
    margin-left: 210px;
    position:static;
}

/*user profil ikon jobb felso sarokban*/
.wrapper2 .userIcon img{
    position:absolute;
    top: 10px;
    right: 120px;
    width: 20px;
    height: auto;
    border-radius: 10px;
}

/*Usernev jobb felso sarokban*/
.wrapper2 .userName label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

/*content*/

.wrapper2 .content{
    display:block;
    position:relative;
    padding-left: 100px; 
}

.wrapper2 .content h1{
    position: relative;
    margin-top: 20px;
   margin-right: 170px;
   text-align: center;
    font-size: 32px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}


.wrapper2 .content .div{
    margin-left: 200px;
    padding-bottom: 5px;
}

.buttons {
    color: black;
    float: left; /* Float the buttons side by side */
    margin-left: 700px;
    margin-top: 500px;
}
.action_btn{
    cursor: pointer;
}

.buttons:not(:last-child) {
    border-right: none; /* Prevent double borders */
  
}

.buttons:after {
    content: "";
    clear: both;
    display: table;
}

.buttons:hover {
    background-color: #5e677e;
}

.table {
    table-layout: fixed;
    margin-left: 280px;
    margin-right: 180px;
    margin-bottom: 10px;
    color: #212529;
    position:absolute;
    margin-top: 50px;
    
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: text-bottom;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
}
